.titulo{
	background: lightgreen;
}
.avatar{
	width: 95px;
	height: 155px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
	background: #F8F8FF;
}
td{
	max-width: 500px;
}
.avatar:hover{
	width: 130px;
	height: 190px;
	transform: rotate(180deg);
}
.importante{
	background: #FA8072;
	font-family: "Comic Sans MS";
	font-style: italic;
}
.botao-calculadora {
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  height: auto;
}
canvas {
        border: 1px solid #000000;       
}
#mapa{
    width: 800px;
	height: 600px;
	align-content: center;
	border: 3px solid black;
	
}